body{
      font-family: 'Roboto', sans-serif;
      margin: 0;
}

.flexible-container{
      text-align: center;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      height: 500px;
      padding: 0  4px;
      padding-bottom: 200px;
      
}

h1{
      font-size: 40px;
}

h1 span{
      color: salmon;
}

.half-width{
      width: 40%;

      float: left;
      margin-left: 5%;
      padding-left: 2%;
}

.half-width image{
      width: %;
}

.anchor-button{
      text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    border-width: 1px 1px 1px 1px;
} 

p{
      color: rgb(179, 130, 138);
}

.dream-big{
      background-image: url(shapes/7.png);
      background-repeat: no-repeat;
      background-position: 40% 35%;
      
}
.all-recepies{
      width: 33.33%;
      box-shadow: 10px 10px 40px gray;
      flex: 30%;

      padding: 0 4px;
      
}

.all-recepies image{
      display: 33.33%;
      width: 25%;
}
 .menu{
       float: left;
       width: 33.33%;
 }
 