
.colour{
      color:orange;
}

body{
      font-family: 'Cabin', sans-serif;
}

.first-part{
      
}



.introduction{
      width: 50%;
      padding: 10px 40px;
      margin: 4%;
      text-align: left;
      float: left;
}

.introduction-img{
      float:left;
      margin: 4%;

}

.first-anchor-button{
      text-decoration: none;
      color: orange;
      padding: 10px 40px;
      font-weight: 700;
      border-radius: 5px;

}
